body {
    background-color: #b5c5ad;
    font-family: Verdana,Geneva,sans-serif;
    font-size: 15pt;
}

h1 {
    text-align: center;
    color: #0f2203;
    background-color: #B0E298;
    border: 2px #3D3B8E solid;
    -webkit-text-stroke: 1px rgb(119, 119, 119);
}

#sources,
#contributors {
    text-align: center;
    color: black;
    background-color: #B0E298;
    border: 2px #3D3B8E solid;
}

#viz {
    width: 100%;
    height: 900px;
}

a,
p {
    font-size: 12pt;
    padding: 3%;
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration: underline;
}

svg {
    position: absolute;
}

.svg-pan-zoom-container {
    width: 900px;
    height: 600px;
    position: absolute;
}

.sort {
    margin-left: 8%;
    font-size: 12px;
    width: 170px;
    height: 30px;
    background-color: #3D3B8E;
    color: #EBEBEB;
    border-radius: 1%;
}

.activeMap {
    margin-left: 8%;
    font-size: 12px;
    width: 172px;
    height: 30px;
    border-radius: 50%;
    font: bolder;
    color: #3D3B8E;
    background-color: #EBEBEB;
}
table, th, td {
    height: 30px;
    width: 200px;
    border-collapse: collapse;
    border: 1px solid black;
    text-align: center;
    table-layout:fixed;
  }
  table{
      background-color: #EBEBEB;
  }
  td{
    color:navy;
    background-color:#EBEBEB;
  }

  .pagebutton {
	background-color: rgb(157, 34, 53);
	color: white;
	font-family: 'Arial', serif;
	font-size: 17px;
	padding: 9px;
	border: none;
	border-radius: 6px;
	cursor: pointer;
}

.pagesubtitle {
	color: black;
	font-family: 'Arial', serif;
	font-size: 30x;
	font-weight: bold;
}

.pagetext {
	color: black;
	font-family: 'Arial', serif;
	font-size: 12x;
}
div.gtooltip{	
    position: absolute;			
    text-align: center;			
    width: 150px;					
    height: 75px;					
    padding: 1px;				
    font-size: 13px;		
    background:rgb(255,200,200);
    color:black;	
    pointer-events: none;			
  }
